import(methods)
import(igraph)
import(SingleCellExperiment)
import(nnTensor)
import(BiocStyle)
import(knitr)
import(MeSH.Hsa.eg.db)
import(MeSH.Mmu.eg.db)
import(MeSH.Ath.eg.db)
import(MeSH.Rno.eg.db)
import(MeSH.Bta.eg.db)
import(MeSH.Cel.eg.db)
import(MeSH.Dme.eg.db)
import(MeSH.Dre.eg.db)
import(MeSH.Gga.eg.db)
import(MeSH.Pab.eg.db)
import(MeSH.Xtr.eg.db)
import(MeSH.Ssc.eg.db)

importFrom(reactome.db, reactomeEXTID2PATHID)
importFrom(AnnotationDbi, toTable)
importFrom(LRBaseDbi, select)
importFrom(biomaRt, useMart, getBM)
importFrom(MeSHDbi, select)
importFrom(S4Vectors, metadata, "metadata<-")
importFrom(plotly, plot_ly)
importFrom(SummarizedExperiment, assay)
importFrom(rTensor, as.tensor, modeSum)
importFrom(abind, abind)
importFrom(plotrix, gradient.rect)
importFrom(heatmaply, heatmaply)
importFrom(tagcloud, smoothPalette)
importFrom(RColorBrewer, brewer.pal)
importFrom(rmarkdown, render)

importFrom(grDevices, colorRampPalette, dev.off, png, rgb)
importFrom(graphics, par, plot, text)
importFrom(stats, cor, dist, na.omit, quantile)
importFrom(utils, browseURL)
importFrom(outliers, grubbs.test, chisq.out.test)

exportMethods(cellCellSetting, cellCellDecomp, cellCellReport)
